## Deliverable 1: Current Distribution of Landlords, w.r.t to affordability and Distribution characteristics of affordable housing

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [16]:
# Read in the data
all_housing = pd.read_csv('property-data.csv')
# if ZIPCODE is less than 5 digits, pad it with zeros
all_housing['ZIPCODE'] = all_housing['ZIPCODE'].apply(lambda x: str(x).zfill(5))

# Get the unique zip codes
afford_housing = pd.read_csv('restricted-income-housing-2021-data.csv')
# convert Zip Code to int, if the value is NaN, leave as Nan
afford_housing['Zip Code'] = afford_housing['Zip Code'].fillna(-10).astype(np.int64)
# check if less than 5 digits, pad it with zeros
afford_housing['Zip Code'] = afford_housing['Zip Code'].apply(lambda x: str(x).zfill(5))

# explore the data
# all_housing.head()
afford_housing.head()

,Project Name,Neighborhood,Zip Code,TtlProjUnits,RentUnits,OwnUnits,TtlMarket,MarketRent,MarketOwn,Total Income-Restricted,Income-Restricted Rental,Income-Restricted Ownership,Tenure,Public/ Private,Includes Senior Units?,Section 8
0,Abbot Street/ Shawmut Ave,Roxbury,02119,16,16,0,0.0,0.0,0.0,16,16,0.0,Rental,Private,NaN,NaN
1,Academy Homes I,Roxbury,02119,202,202,0,52.0,52.0,0.0,150,150,0.0,Rental,Private,NaN,NaN
2,Academy Homes II,Roxbury,02119,236,236,0,0.0,0.0,0.0,236,236,0.0,Rental,Private,NaN,Y
3,Adams Court Phase A,Mattapan,02126,50,50,0,0.0,0.0,0.0,50,50,0.0,Rental,Private,NaN,NaN
4,Adams Court Phase B,Mattapan,02126,45,45,0,0.0,0.0,0.0,45,45,0.0,Rental,Private,NaN,NaN

In [18]:
# filter out owner occupied housing
owner_housing = all_housing[all_housing['OWN_OCC'] == 'Y']
non_owner_housing = all_housing[all_housing['OWN_OCC'] == 'N']
res_units = all_housing['RES_UNITS'].sum()
res_non_owner_units = non_owner_housing['RES_UNITS'].sum()

print("Number of owner occupied housing:", len(owner_housing))
print("Number of non-owner occupied housing:", len(non_owner_housing))
print("Number of residential units:", res_units)
print("Number of non-owner occupied residential units:", res_non_owner_units)
print("Percentage of non-owner occupied residential units:", res_non_owner_units/res_units)

Number of owner occupied housing: 78242
Number of non-owner occupied housing: 100356
Number of residential units: 151611
Number of non-owner occupied residential units: 117175
Percentage of non-owner occupied residential units: 0.772866084914683

In [19]:
# find number of units of affordable housing
afford_units = afford_housing['RentUnits'].sum()

print("Number of affordable housing units:", afford_units)
print("Percentage of affordable housing units of all non-owner residential housing units:", afford_units/res_non_owner_units)
print("Percentage of affordable housing units of all residential housing units:", afford_units/res_units)

Number of affordable housing units: 73665
Percentage of affordable housing units of all non-owner residential housing units: 0.6286750586729251
Percentage of affordable housing units of all residential housing units: 0.48588163128005224

In [20]:
# all housing units by zip code
owner_housing = owner_housing.groupby('ZIPCODE').sum()
owner_housing = owner_housing.reset_index()
owner_housing.head()

# affordable housing units by zip code
afford_housing = afford_housing.groupby('Zip Code').sum()
afford_housing = afford_housing.reset_index()
afford_housing.head()

/var/folders/bx/lpxlhfws3qs33143l2gym9lh0000gn/T/ipykernel_40453/232501096.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  owner_housing = owner_housing.groupby('ZIPCODE').sum()
/var/folders/bx/lpxlhfws3qs33143l2gym9lh0000gn/T/ipykernel_40453/232501096.py:7: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  afford_housing = afford_housing.groupby('Zip Code').sum()

,Zip Code,TtlProjUnits,RentUnits,OwnUnits,TtlMarket,MarketRent,MarketOwn,Total Income-Restricted,Income-Restricted Rental,Income-Restricted Ownership
0,-0010,30,0,30,9.0,0.0,9.0,21,0,21.0
1,02108,96,96,0,0.0,0.0,0.0,96,96,0.0
2,02109,540,453,87,155.0,76.0,79.0,385,377,8.0
3,02110,609,369,240,567.0,337.0,230.0,42,32,10.0
4,02111,2570,2078,492,1322.0,950.0,372.0,1248,1128,120.0