In [1]:
import pandas as pd

In [2]:
master_pd = pd.read_csv('Is_Affordable_Master_Dataset.csv')
neighborhood = pd.read_csv('boston_neighborhood.csv')
##voting_dist = pd.read_csv('boston_voting_district.csv')
area_codes = pd.read_csv('neighborhoods_and_codes.csv')

In [17]:
area_codes['neighborhood']
#area_codes['area code']
area_codes['Match_Name'] = area_codes['neighborhood']

In [37]:
area_codes.dtypes

index            int64
neighborhood    object
area code        int64
Match_Name      object
dtype: object

In [47]:
n_dict = dict(zip(area_codes['area code'].values,area_codes['neighborhood'].values))

n_dict

{2101: 'Downtown Boston',
 2108: 'Beacon Hill',
 2109: 'Markets / Inner Harbor',
 2110: 'Financial District / Wharves',
 2111: 'Chinatown / Tufts-New England Medical Center',
 2112: 'Downtown Boston',
 2113: 'North End',
 2114: 'West End / Back of the Hill',
 2115: 'Fenway / East Fens / Longwood',
 2116: 'Back Bay',
 2117: 'Downtown Boston',
 2118: 'South End',
 2119: 'Roxbury',
 2120: 'Roxbury Crossing',
 2121: 'Roxbury / Grove Hall',
 2122: 'Dorchester / Fields Corner',
 2123: 'Downtown Boston',
 2124: 'Dorchester / Codman Square',
 2125: 'Dorchester / Uphams Corner',
 2126: 'Mattapan',
 2127: 'South Boston',
 2128: 'East Boston',
 2129: 'Charlestown',
 2130: 'Jamaica Plain',
 2131: 'Roslindale',
 2132: 'West Roxbury',
 2133: 'Downtown Boston',
 2134: 'Allston',
 2135: 'Brighton',
 2136: 'Hyde Park',
 2137: 'Readville',
 2138: 'Cambridge',
 2139: 'Cambridge',
 2140: 'Cambridge',
 2141: 'Cambridge',
 2142: 'Cambridge',
 2143: 'Somerville',
 2144: 'Somerville',
 2145: 'Somerville',
 2163: 'North Brighton / Cambridge',
 2196: 'Downtown Boston',
 2199: 'Prudential',
 2201: 'Downtown Boston',
 2205: 'Downtown Boston',
 2210: 'South Boston / Fort Point',
 2215: 'Kenmore / Boston University',
 2216: 'Downtown Boston',
 2228: 'East Boston',
 2238: 'Cambridge',
 2445: 'Brookline',
 2446: 'Brookline',
 2447: 'Brookline Village'}

In [63]:
master_pd['NEIGHBORHOOD'] = master_pd.apply(lambda x : n_dict[x['ZIPCODE']]  if x['ZIPCODE'] in n_dict.keys() else 'not found', axis = 1)

In [64]:
master_pd

,Unnamed: 0,PID,CM_ID,GIS_ID,ST_NUM,ST_NAME,UNIT_NUM,CITY,ZIPCODE,BLDG_SEQ,...,ORIENTATION,NUM_PARKING,PROP_VIEW,CORNER_UNIT,match,lookup,income_restricted_inv,existing_affordable_inv,Is_Affordable_Master,NEIGHBORHOOD
0,0,100001000,,1.000010e+08,104 A 104,PUTNAM ST,NaN,EAST BOSTON,2128,1.0,...,NaN,3,A - Average,NaN,104 A 104 PUTNAM ST EAST BOSTON,"104 A 104 PUTNAM ST, EAST BOSTON, MA 02128",False,False,False,East Boston
1,1,100002000,,1.000020e+08,197,LEXINGTON ST,NaN,EAST BOSTON,2128,1.0,...,NaN,0,A - Average,NaN,197 LEXINGTON ST EAST BOSTON,"197 LEXINGTON ST, EAST BOSTON, MA 02128",False,False,False,East Boston
2,2,100003000,,1.000030e+08,199,LEXINGTON ST,NaN,EAST BOSTON,2128,1.0,...,NaN,0,A - Average,NaN,199 LEXINGTON ST EAST BOSTON,"199 LEXINGTON ST, EAST BOSTON, MA 02128",False,False,False,East Boston
3,3,100004000,,1.000040e+08,201,LEXINGTON ST,NaN,EAST BOSTON,2128,1.0,...,NaN,0,A - Average,NaN,201 LEXINGTON ST EAST BOSTON,"201 LEXINGTON ST, EAST BOSTON, MA 02128",False,False,False,East Boston
4,4,100005000,,1.000050e+08,203,LEXINGTON ST,NaN,EAST BOSTON,2128,1.0,...,NaN,0,A - Average,NaN,203 LEXINGTON ST EAST BOSTON,"203 LEXINGTON ST, EAST BOSTON, MA 02128",False,False,False,East Boston
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
178593,178593,2205666000,,2.205666e+09,,KNOWLES ST,NaN,BRIGHTON,2135,1.0,...,NaN,0,NaN,NaN,KNOWLES ST BRIGHTON,"KNOWLES ST, BRIGHTON, MA 02135",False,False,False,Brighton
178594,178594,2205667000,,2.205667e+09,,LAKE ST,NaN,BRIGHTON,2135,1.0,...,NaN,0,NaN,NaN,LAKE ST BRIGHTON,"LAKE ST, BRIGHTON, MA 02135",False,False,False,Brighton
178595,178595,2205668000,,2.205668e+09,4,LAKE ST,NaN,BRIGHTON,2135,1.0,...,NaN,2,A - Average,NaN,4 LAKE ST BRIGHTON,"4 LAKE ST, BRIGHTON, MA 02135",False,False,False,Brighton
178596,178596,2205669000,,2.205669e+09,2193 2201,COMMONWEALTH AV,NaN,BRIGHTON,2135,1.0,...,NaN,0,NaN,NaN,2193 2201 COMMONWEALTH AV BRIGHTON,"2193 2201 COMMONWEALTH AV, BRIGHTON, MA 02135",False,False,False,Brighton
178597,178597,2205670000,,2.205670e+09,2203,COMMONWEALTH AV,NaN,BRIGHTON,2135,1.0,...,NaN,0,NaN,NaN,2203 COMMONWEALTH AV BRIGHTON,"2203 COMMONWEALTH AV, BRIGHTON, MA 02135",False,False,False,Brighton

In [17]:
##http://archive.boston.com/news/local/articles/2007/04/15/sixfigurezipcodes_city/

In [15]:
neighborhood['nbhd']

0               field concept
1                     Allston
2                    Back Bay
3                 Beacon Hill
4                    Brighton
5                 Charlestown
6                   Chinatown
7                  Dorchester
8                    Downtown
9                 East Boston
10                     Fenway
11                  Hyde Park
12              Jamaica Plain
13                   Longwood
14                   Mattapan
15               Mission Hill
16                  North End
17                 Roslindale
18                    Roxbury
19               South Boston
20    South Boston Waterfront
21                  South End
22                   West End
23               West Roxbury
Name: nbhd, dtype: object

In [30]:
neighborhood

,nbhd,P0020001,P0020005,P0020006,P0020002,P002aapi,P002others,P0040001,P0040005,P0040006,...,P0050005,P0050006,P0050007,P0050008,P0050009,P0050010,H0010001,H0010002,H0010003,hhsize
0,field concept,Total:,White alone,Black or African American alone,Hispanic or Latino,"Asian, Native Hawaiian and Pacific Islander al...","Other Races or Multiple Races, all ages",Total:,White alone,Black or African American alone,...,Nursing facilities/Skilled-nursing facilities,Other institutional facilities,Noninstitutionalized population:,College/University student housing,Military quarters,Other noninstitutional facilities,Total:,Occupied,Vacant,household size
1,Allston,28621,14634,1451,3657,7173,1706,26668,14022,1294,...,26,0,3364,3214,0,150,12527,11740,787,2.149148211
2,Back Bay,19588,14056,718,1326,2604,884,18374,13296,669,...,269,0,1701,1578,0,123,12373,10788,1585,1.633110864
3,Beacon Hill,9336,7521,252,537,630,396,8603,6980,231,...,0,0,33,0,0,33,6037,5485,552,1.696080219
4,Brighton,48330,30596,2289,4978,7801,2666,44129,28706,1966,...,240,56,3713,3493,0,220,21874,20822,1052,2.1279416
5,Charlestown,19120,13626,990,2075,1650,779,15661,11689,662,...,55,0,55,0,30,25,9525,8932,593,2.128302732
6,Chinatown,7143,1898,297,477,4281,190,6343,1790,254,...,224,0,457,443,0,14,3644,3299,345,1.958775386
7,Dorchester,122191,27411,42714,25285,13360,13421,95365,24327,32678,...,291,0,936,0,0,936,47965,44823,3142,2.692323138
8,Downtown,13451,9174,537,961,2286,493,12675,8764,529,...,97,0,4116,3283,0,833,6654,5401,1253,1.710423996
9,East Boston,43066,15760,1403,21700,1932,2271,34826,14039,1136,...,132,0,109,0,0,109,18016,16695,1321,2.564420485
10,Fenway,37733,20456,2396,3643,9218,2020,36715,20099,2281,...,261,0,16406,16197,0,209,13968,12661,1307,1.659663534
11,Hyde Park,33009,7449,15171,7901,677,1811,26470,6494,12229,...,67,0,134,64,0,70,12613,12066,547,2.719045251
12,Jamaica Plain,41012,22032,4686,8921,2985,2388,34817,19642,3848,...,319,120,529,160,0,369,18891,17724,1167,2.25423155
13,Longwood,4096,2573,334,381,657,151,3977,2555,304,...,0,0,3296,3296,0,0,456,425,31,1.882352941
14,Mattapan,23834,1489,16277,4079,490,1499,18511,1332,12951,...,85,0,102,0,0,102,9346,8821,525,2.66250992
15,Mission Hill,17886,6950,2469,3397,4228,842,15983,6661,1984,...,112,0,1667,1502,0,165,7139,6820,319,2.361143695
16,North End,10805,9306,141,528,445,385,10236,8888,132,...,41,0,148,0,116,32,6832,6314,518,1.681343047
17,Roslindale,29386,13428,6045,7373,1018,1522,23604,11486,4740,...,438,0,57,0,0,57,12114,11534,580,2.504074909
18,Roxbury,54905,7182,22796,16728,3277,4922,43502,6661,18023,...,0,41,3622,2520,0,1102,22034,20345,1689,2.474318014
19,South Boston,37917,29139,1529,3887,2077,1285,33614,26930,1084,...,188,0,125,0,0,125,19140,17961,1179,2.090529481
20,South Boston Waterfront,5579,4315,160,316,482,306,5286,4171,138,...,0,0,1,0,0,1,4622,3624,998,1.539183223
21,South End,29373,16618,2959,3783,4677,1336,25922,15203,2454,...,0,45,661,0,0,661,16619,15253,1366,1.879433554
22,West End,7705,4933,338,613,1440,381,7098,4620,303,...,0,57,53,0,0,53,5243,4572,671,1.65376203
23,West Roxbury,31561,20918,3312,3567,2451,1313,25457,17676,2399,...,412,0,93,0,0,93,14070,13390,680,2.319342793